beautifulsoup4==4.9.1
html-testRunner==1.2.1
HTMLTestRunner-Python3==0.8.0
idna==2.10
importlib-metadata==2.1.1
iniconfig==1.1.1
ipykernel==5.3.4
ipython==7.17.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
pandas==1.1.0
selenium==3.141.0
tqdm==4.56.0
webdriver-manager==3.2.2
webencodings==0.5.1
websockets==8.1
